:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #190a23;
  background: url("images/space-with-stars-galaxy-background-vector-24554920.jpg");
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 1.5em;
  line-height: 1;
  text-align: right;
}
#app {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
#score {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
#shop {
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  justify-items: center;
  gap: 15px; /* Defines space between the grid items */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Space between button and text */
}

.text {
  text-align: center;
  opacity: 0;
  visibility: hidden; /* Initially hidden text */
  transition: opacity 0.3s, visibility 0s 0.3s;
}

/*https://github.com/Ahhhhh123456/cmpm-121-demo-1/blob/main/src/style.css
/*Text fade animation on button hover from Jason Li*/
.content:hover .text {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
#shop > .content:nth-child(odd):last-child {
  grid-column: span 2; /* This spans the content across both columns, centering it */
  justify-self: center; /* This centers the item within its grid area */
}
button {
  border-radius: 8px;
  border: 1px solid;
  border-color: #23d39e;
  line-height: 40px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(74, 189, 138);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
